<h3>家計簿にコメントしてみよう</h3>
<table class="table table-striped">
  <tr>
    <th>年月</th>
    <td><%= @book.year%>年<%= @book.month %>月</td>
  </tr>
  <tr>
    <th>区分</th>
    <td><%= @book.inout %></td>
  </tr>
  <tr>
    <th>科目</th>
    <td><%= @book.category %></td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= @book.amount %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td>
      <%= form_with model: @comment, url: book_comments_path(@book), local: true do |f| %>
        <p><%= f.text_area :comment, placeholder: "コメント内容を入力してください!" , style:"width: 700px" %></p>
        <p><%= f.submit "コメントする", class: "btn btn-primary" %></p>
      <% end %>
    </td>
  </tr>
</table>
<%= link_to "戻る", books_path, class: "btn btn-secondary" %>
