<h1 class="mb-3" >ログイン</h1>
<%= form_with url: signin_path, local: true do |f| %>
 <div class="form-group">

  <div class="form-group">
   <label>メールアドレス</label>
   <%= f.text_field :email, class:"form-control" %>
 </div>
 <div class="form-group">
   <label>パスワード</label>
   <%= f.password_field :password, class:"form-control" %>
 </div>
 
 <%= f.submit "ログイン", class:"btn btn-primary mt-2" %>
 
<% end %>

<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <%= link_to "ゲストとしてログインする", books_path, class: "btn btn-outline-secondary btn-block my-5", style: "width: 500px;" %>
  </div>
</div>