
<%= render "search" %>

<table class="table table-striped">
  <tr>
    <th>年月</th>
    <th>区分</th>
    <th>科目</th>
    <th>金額</th>
    <th>リンク先</th>
  </tr>

  <% sum = 0 %>
  <% income = 0 %>
  <% expense = 0 %>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.year %>年<%= book.month %>月</td>
    <td class="<%= book.inout == 1 ? 'text-success' : 'text-danger' %>">
      <%= book.inout == 1 ? '収入' : '支出' %>
    </td>
    <td><%= book.category %></td>
    <td><%= book.amount %>万円</td>
    <td>
      <%= link_to "詳細", book_path(book) , class:"btn btn-info" %>
     <!-- (book)は@books.each do |book|のインスタン変数のbookのこと -->
      <%= link_to "変更", edit_book_path(book), class:"btn btn-warning" %>
      <%= link_to "削除", book_path(book) ,method: "delete",data: {confirm:'本当に消すの？' }, class:"btn btn-danger" %>
       <!-- 注意するのは、link_toの中でmethodを指定している部分です。これを忘れてしまうと、ただの詳細画面へのリンクになってしまいます
            '本当に消すの'の部分は、" " ではNG！　必ず' 'で囲うこと！-->
      <%= link_to "コメントする",new_book_comment_path(book) , class:"btn btn-success"  %>
    </td>
  </tr>
    <% if book.inout == 1 %>
      <% sum = sum + book.amount %>
    <% else %>
      <% sum = sum - book.amount %>
    <% end %>

    <% if book.inout == 1 %>
      <% income = income + book.amount %>
    <% end %>

    <% if book.inout == 2 %>
      <% expense  += book.amount %>
    <% end %>

  <% end %>
  <tr>
    <td><strong>収入の合計</strong></td>
    <td><strong><%= income %>万円</strong></td>
    <td><strong>支出の合計</strong></td>
    <td><strong><%= expense %>万円</strong></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><strong>合計</strong></td>
    <td><strong><%= sum %>万円</strong></td>
    <td></td>
  </tr>
</table>
<%= link_to "新規作成" , new_book_path , class:"btn btn-success" %>