<h3>家計簿の詳細をみよう</h3>
<table class="table table-striped">
  <tr>
    <th>年月</th>
    <td><%= @book.year%>年<%= @book.month %>月</td>
  </tr>
  <tr>
    <th>区分</th>
    <td><%= @book.inout %></td>
  </tr>
  <tr>
    <th>科目</th>
    <td><%= @book.category %></td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= @book.amount %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td>
      <% @book.comments.each do |comment| %>
        <p>
          <%= comment.comment %>
          <span><%= link_to '削除', comment, method: :delete, data: { confirm: '本当に削除しますか？' },class:"btn btn-danger" %></span>
        </p>
      <% end %>
    </td>
  </tr>
</table>
<%= link_to "戻る",books_path,class:"btn btn-secondary"%>